.main-layout {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-deep);
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 80px;
  /* Offset for fixed navbar */
  flex: 1;
}