.toggle-auth {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

.toggle-btn {
  background: transparent;
  border: none;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-left: 5px;
}

.toggle-btn:hover {
  color: #fff;
}
