.main-layout {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--bg-deep);
}

.content {
  padding-top: 80px;
  /* Offset for fixed navbar */
  min-height: calc(100vh - 80px);
}